<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="f-menu">
                    <li><a href="">Item</a></li>
                    <li><a href="">Item</a></li>
                    <li><a href="">Item</a></li>
                    <li><a href="">Item</a></li>
                </ul>
            </div>
        <div class="col-md-6 copyright">Copyright © 2019. All Rights Reserved.

</div>
        </div>
    </div>
</footer>