<header>
    <div class="main-title">Proven To Get You 33% Hired Faster</div>
    <div class="subtitle">Build your professional resume in under 10 minutes!</div>
    

</header>
<div data-aos="fade-up"  data-aos-delay="300" class="img-wrap"><img src="/img/laptop.png"></div>
