<nav  class="navbar nav-show fixed-top navbar-expand-lg navbar-light bg-light" data-nav-status="toggle">
  <div class="container">
  <a class="navbar-brand" href="#"><img src="/img/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link " href="#">Home </a></li>
      <li class="nav-item"><a class="nav-link " href="#how">How it works</a></li>
      <li class="nav-item"><a class="nav-link " href="#temp">Templates</a></li>
      <li class="nav-item"><a class="nav-link " href="#price">Pricing</a></li>
      <li class="nav-item"><a class="nav-link " href="#live">Live feed</a></li>
      <li class="nav-item"><a class="nav-link" href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      
      
      

     
    </ul>
    
  </div>
  </div>
</nav>