<header>
    <div class="main-title">Proven To Get You 33% Hired Faster</div>
</header>
<section class="steps">
    <div class="container">
        <div class="title">
            <h2>3 EASY STEPS</h2>
        </div>
        <div class="description">
            Beat the competition with a professional quality resume that can be emailed and downloaded in multiple file types including Microsoft Word and PDF formats. Our professional templates are Applicant Tracking System friendly, meaning you won’t get rejected by picky HR software.
        </div>
        <div class="resume-app">
            <div class="modal-wrap">
                <div class="modal-header"><span class="is-active"></span><span></span><span></span></div>
                <div class="modal-bodies">
                    <div class="modal-body modal-body-step-1 is-showing">
                        <div class="title">Enter your data</div>
                        
                        <form>
                           <input type="email" placeholder="First Name" />
                          <input type="email" placeholder="Last Name" />
                            <input type="email" placeholder="Phone" />
                            <input type="email" placeholder="Email" />
                            <input type="email" placeholder="Company Name" />
                            <div class="text-center">
                                <div class="button">Start</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-body modal-body-step-2">
                        <div class="title">Step 2</div>
                        <div class="description">Would you rather</div>
                        <form>
                            <label><input type="radio" name="radio" />live one life that lasts 1,000 years?</label><label><input type="radio"
                                    name="radio" id="radio2" />live 10 lives that last 100 years each?</label>
                            <div class="text-center fade-in">
                                <div class="button">Next</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-body modal-body-step-3">
                        <div class="title">Step 3</div>
                        <div class="description">Check your email for the game results.</div>
                        <div class="text-center">
                            <div class="button">Done!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="rerun-button">ReRun</div>
            </div>
        </div>
    </div>
</section>
<section class="templates">
    <div class="container">
        <div class="title">
            <h2>BROWSE OUR TEMPLATES</h2>
        </div>
        <div class="owl-carousel loop owl-theme">
            <div><img src="/img/cvtemplates/res1.png"></div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
        </div>
    </div>
</section>
<div class="cta-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Lorem ipsum dolor sit amet, ea animal splendide definitiones ius. Per ex simul mediocrem disputando.
            </div>
            <div class="col-md-6">CTA BUTTON</div>
        </div>
    </div>
    
    
</div>
<section class="pricing">
    <div class="container">
        <div class="title">
            <h2>pricing</h2>
        </div>
        <div class="promos">  
<div class="promo">
  <div class="deal">
    <span>Premium</span>
    <span>This is really a good deal!</span>
  </div>
  <span class="price">$79</span>
  <ul class="features">
    <li>Some great feature</li>
    <li>Another super feature</li>
    <li>And more...</li>   
  </ul>
  <button>Sign up</button>
</div>
<div class="promo scale">
  <div class="deal">
    <span>Plus</span>
    <span>This is really a good deal!</span>
  </div>
  <span class="price">$89</span>
  <ul class="features">
    <li>Some great feature</li>
    <li>Another super feature</li>
    <li>And more...</li>   
  </ul>
  <button>Sign up</button>
</div>
<div class="promo">
  <div class="deal">
    <span>Basic</span>
    <span>Basic membership</span>
  </div>
  <span class="price">$69</span>
  <ul class="features">
    <li>Choose the one on the left</li>
    <li>We need moneyy</li>
    <li>And more...</li>   
  </ul>
  <button>Sign up</button>
</div>
</div>
    </div>
   
    
</section>
<section class="live-feed">
    <div class="container">
        <div class="row">
        <div class="col-md-4"><div class="title">
            <h2>TESTMONIALS</h2>
        </div></div>
        <div class="col-md-8">
            <div class="title">
            <h2>INSTAGRAM FEED</h2>
        </div></div>
        </div>
    </div>
  
    
</section>

