<header>HERO HEADER</header>
<section class="steps">
    steps

</section>
<section class="preview">
    preview

</section>
<section class="pricing">
    pricing
    
</section>
<section class="instagram-feed">
    instagram feed
    
</section>
<section class="testimonials">
    testmonials
    
</section>

