<section class="steps" id="how">
    <div class="container">
        <div class="title" data-aos="fade-down" data-aos-delay="400">
            <h2>3 EASY STEPS</h2>
        </div>
        <div class="description " data-aos="fade-up" data-aos-delay="500">
            Beat the competition with a professional quality resume that can be emailed and downloaded in multiple file
            types including Microsoft Word and PDF formats. Our professional templates are Applicant Tracking System
            friendly, meaning you won’t get rejected by picky HR software.
        </div>
        <div class="resume-app">
            <div class="modal-wrap">
                <div class="modal-header"><span class="is-active"></span><span></span><span></span></div>
                <div class="modal-bodies">
                    <div class="modal-body modal-body-step-1 is-showing">
                        <div class="title"><h2>Enter your data</h2></div>
                        <div class="description">Lorem ipsum</div>

                        <form>
                            <input type="text" placeholder="First Name" />
                            <input type="text" placeholder="Last Name" />
                            <input type="text" placeholder="Phone" />
                            <input type="email" placeholder="Email" />
                            <input type="text" placeholder="Company Name" />
                            <div class="text-center">
                                <div class="button">Start</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-body modal-body-step-2">
                        <div class="title"><h2>Select your theme</h2></div>
                      
                        <form>
                            <div class="image_radio_button_control">
  <label class="radio-button-label">
    <input type="radio" name="radio-control" value="lsb" />
    <img src="/img/cvtemplates/res1.png">
  </label>

  <label class="radio-button-label">
    <input type="radio" name="radio-control" value="nosb"/>
    <img src="/img/cvtemplates/res1.png">
  </label>

  <label class="radio-button-label">
    <input type="radio" name="radio-control" value="rsb" />
    <img src="/img/cvtemplates/res1.png">
  </label>
   <label class="radio-button-label">
    <input type="radio" name="radio-control" value="bsb" />
    <img src="/img/cvtemplates/res1.png">
  </label>
</div>
<div class="text-center">
                                <div class="button">print preview</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-body modal-body-step-3">
                        <div class="title">Step 3</div>
                        <div class="description">Check your email for the game results.</div>
                        <div class="text-center">
                            <div class="button">Done!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="rerun-button">ReRun</div>
            </div>
        </div>
    </div>
</section>
<section class="templates" id="temp">
    <div class="container">
        <div class="title" data-aos="fade-down" data-aos-delay="300">
            <h2>BROWSE OUR TEMPLATES</h2>
        </div>
        <div class="owl-carousel loop owl-theme" data-aos="fade-up" data-aos-delay="400">
            <div><img src="/img/cvtemplates/res1.png"></div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
            <div><img src="/img/cvtemplates/res1.png"> </div>
        </div>
    </div>
</section>
<div class="cta-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Lorem ipsum dolor sit amet, ea animal splendide definitiones ius. Per ex simul mediocrem disputando.
            </div>
            <div class="col-md-6 text-center"><div class="button-cta"><a href="">CREATE MY RESUME NOW</a></div></div>
        </div>
    </div>


</div>
<section class="pricing" id="price">
    <div class="container">
        <div class="title">
            <h2>pricing</h2>
        </div>
        <div class="promos">
            <div class="promo">
                <div class="deal">
                    <span>Premium</span>
                    <span>This is really a good deal!</span>
                </div>
                <span class="price">$79</span>
                <ul class="features">
                    <li>Some great feature</li>
                    <li>Another super feature</li>
                    <li>And more...</li>
                </ul>
                <button>Sign up</button>
            </div>
            <div class="promo scale">
                <div class="deal">
                    <span>Plus</span>
                    <span>This is really a good deal!</span>
                </div>
                <span class="price">$89</span>
                <ul class="features">
                    <li>Some great feature</li>
                    <li>Another super feature</li>
                    <li>And more...</li>
                </ul>
                <button>Sign up</button>
            </div>
            <div class="promo">
                <div class="deal">
                    <span>Basic</span>
                    <span>Basic membership</span>
                </div>
                <span class="price">$69</span>
                <ul class="features">
                    <li>Choose the one on the left</li>
                    <li>We need moneyy</li>
                    <li>And more...</li>
                </ul>
                <button>Sign up</button>
            </div>
        </div>
    </div>


</section>

<section class="live-feed" id="live">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title">
                    <h2>TESTMONIALS</h2>
                </div>
                <div class='embedsocial-reviews' data-ref="241967cca17945b65a80b8e8fe93ef2b12a44734"></div>
            </div>
            <div class="col-md-8">
                <div class="title">
                    <h2>INSTAGRAM FEED</h2>
                </div>

                <div id="instafeed"></div>
            </div>
        </div>
    </div>


</section>